{:kotoba.app/id "cloud.itonami.isic-2220", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid5dg4gq7yd3tjrtzu4ma4gqgye2vyjxntaw5vze4mqkwpgabb5vu", :kotoba.app/embed-url "ipfs://bafkreid5dg4gq7yd3tjrtzu4ma4gqgye2vyjxntaw5vze4mqkwpgabb5vu", :published {:archive "https://kotobase.net/ipfs/bafkreid5dg4gq7yd3tjrtzu4ma4gqgye2vyjxntaw5vze4mqkwpgabb5vu", :size 72654, :put-status 201, :get-status 200, :at "2026-08-15T13:45:39.539Z"}}
